In [1]:
import pandas as pd
import numpy as np

In [70]:
df = pd.read_csv('melb_data.csv', sep=',')

In [73]:
df.head()
df.memory_usage().sum()

2498848

In [72]:
df['WeekdaySale'] = pd.to_datetime(df['Date'], dayfirst=True).dt.day_of_week

SyntaxError: invalid syntax (832729529.py, line 1)

In [33]:
df['WeekdaySale'].value_counts()[df['WeekdaySale'].value_counts().index >= 5].sum()

12822

In [50]:
df['Weekend'] = df['WeekdaySale'].apply(lambda x: 1 if x in [5, 6] else 0)
df.head()
df[df['Weekend'] == 1]['Price'].mean()

1081198.6406956792

In [74]:
sbs = df.Suburb.value_counts().nlargest(119).index
df.Suburb = df.Suburb.apply(lambda x: x if x in sbs else 'other').astype('category')
df.memory_usage().sum()

2408916

In [137]:
most_frequent_sellers = df['SellerG'].value_counts().nlargest(n=49).index

df['SellerG'] = df['SellerG'].apply(lambda x: x if x in most_frequent_sellers else 'other')
df[df.SellerG == 'Nelson']['Price'].min() / df[df.SellerG == 'other']['Price'].min()

df.drop(['index', 'Coordinates'], axis=1)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1.0,1.0,202.0,126.0,1970.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,2.0,1.0,94.0,126.0,1970.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,other,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150,...,2.0,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016,...,2.0,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [34]:
df_usa = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')

In [35]:
df_usa.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [39]:
df_usa['Time'] = pd.to_datetime(df_usa['Time'])
df_usa.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [41]:
df_usa['Time'].dt.year.value_counts()

1999    2774
2000    2635
1998    1743
1995    1344
1997    1237
        ...
1936       2
1930       2
1935       1
1934       1
1933       1
Name: Time, Length: 68, dtype: int64

In [46]:
mask = df_usa['State'] == 'NV'
df_usa[mask]['Time'].dt.date.diff().dt.days.mean()

68.92932862190813

AttributeError: 'NoneType' object has no attribute 'group'

In [75]:
bikes_df = pd.read_csv('citibike-tripdata.csv')

In [76]:
bikes_df.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [87]:
bikes_df[bikes_df['gender'] == 1].shape[0]

183582

In [117]:
display(bikes_df['start station id'].nunique())
display(bikes_df['end station id'].value_counts())
bikes_df[bikes_df['end station id'] == 426.0]
bikes_df.shape[1]

759

426.0     1963
514.0     1909
519.0     1850
2006.0    1828
497.0     1804
          ...
3183.0       3
3191.0       1
3187.0       1
3074.0       1
3192.0       1
Name: end station id, Length: 765, dtype: int64

14

In [121]:
bikes_df['age'] = 2018 - bikes_df['birth year']
(bikes_df['age'] > 60).value_counts()

False    288163
True      11837
Name: age, dtype: int64

In [128]:
bikes_df['trip duration'] = pd.to_datetime(bikes_df['stoptime']) - pd.to_datetime(bikes_df['starttime'])
bikes_df['trip duration'].loc[3]

Timedelta('0 days 00:07:16.837000')

In [130]:
bikes_df['weekend'] = pd.to_datetime(bikes_df['starttime']).dt.dayofweek.apply(lambda x: 1 if x in [5, 6] else 0)
bikes_df['weekend'].value_counts()

0    184865
1    115135
Name: weekend, dtype: int64

In [135]:
bikes_df['time_of_day'] = pd.to_datetime(bikes_df['starttime']).dt.hour
def converter(x):
    if x in range(0, 7):
        return 'night'
    if x in range(7, 13):
        return 'morning'
    if x in range(13, 19):
        return 'day'
    else:
        return 'evening'
    
bikes_df['time_of_day'] = bikes_df['time_of_day'].apply(converter)
bikes_df['time_of_day'].value_counts()

day        143012
morning     95530
evening     46373
night       15085
Name: time_of_day, dtype: int64